.navbar {
   width: 100%;
   height: 80px;
   border-bottom: 1px solid #333;
   position: fixed;
   z-index: 2;
}

.navbar .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 100%;
   padding: 1rem;
}

.navbar .nav-menu {
   display: flex;
}
.navbar li {
   padding: 1rem;
   font-family: 'Sourse Serif 4', sans-serif;text-transform: uppercase;
}